[core]
    editor = code --wait
    pager = delta
    excludesfile = ~/.gitignore_global
[user]
    name = filoupegase
    email = loisoncorentin@yahoo.fr
[init]
    defaultBranch = main
[push]
    default = tracking
;     gpgSign = if-asked
[pull]
    rebase = true
[commit]
;     gpgsign = true
[github]
    user = filoupegase
[color]
    ui = auto
