[core]
	editor = code --wait
	pager = delta
	excludesfile = ~/.gitignore_global

	# Make `git rebase` safer on macOS
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false
[user]
	email = corentin.loison@emeria.eu
    name = corentin.loison
 	signingkey = A6FF39FA84A5E40C
[init]
    defaultBranch = main
[push]
	default = tracking
    gpgSign = if-asked
[pull]
	rebase = true
[commit]
	gpgsign = false
[rebase]
	autoSquash = true
	autoStash = true
[diff]
	tool = default-difftool
[difftool "default-difftool"]
	cmd = code --wait --diff $LOCAL $REMOTE
[interactive]
	diffFilter = delta --color-only --features=interactive
[github]
    user = filoupegase
[hub]
    host = github.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool]
	keepBackup = true
[color]
	ui = auto
[delta]
	features = decorations
[delta "interactive"]
	keep-plus-minus-markers = false
[delta "decorations"]
	hunk-header-style = omit
	line-numbers = true
	syntax-theme = base16

# The contents of this file are included only for GitLab.com URLs
[includeIf "hasconfig:remote.*.url:https://gitlab.com/**"]

# Edit this line to point to your alternative configuration file
path = ~/.gitconfig-gitlab
[gpg]
	program = gpg2
